.background
{
    width: 100%;
    text-align: center;
    height: 400px;
    background-image: url("../Images/homePage/background-flower.jpg");
    background-repeat: no-repeat;
    opacity: 0.6;
    background-position: -31px -70px;
}

.content
{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 400px;
    left: 0px;
    top: 0px;
}

.checkout
{
    margin-top: 100px;
    width: 100%; 
    text-align: center;
    font-size: 50px; 
    font-weight: bold; 
    line-height: 130px;
    color: green;
}

.icon-checkout
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
