/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2019, 10:56:02 PM
    Author     : minhm
*/
body
{
    font-family: AdineuePRO,Helvetica,Arial,sans-serif;
}
.header-promotion
{
    position: relative;
    width: 100%;
    height: 45px;
    border-bottom: 0.5px solid #D3D3D3;
}

.header-promotion-contain
{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.header-promotion-item
{
    padding:0 25px;
    display: flex;
    color: #363738;    
    cursor:pointer;
    
}

.header-promotion-item:hover
{
    text-decoration: underline;
}
